html {
  line-height: 1.65;
  text-size-adjust: 100%;
}

body {
  background-color: color('background');
  color: color('text');
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: color('heading');
  letter-spacing: -0.025rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}
